@use 'variables' as *;

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    color: $text-color;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding-bottom: 1rem;
    background-color: $primary-bg;
}