@use "../../node_modules/bootstrap/scss/bootstrap" as *;
@use 'variables' as *;

.carousel {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 1320px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__view-all {
    color: $highlight-color;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease;

    &:hover {
      color: lighten($highlight-color, 30%);
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
    
    &:hover .carousel__arrow {
      opacity: 1;
      visibility: visible;
    }
  }

  &__track {
    display: flex;
    transition: transform 0.5s ease;
    gap: $item-gap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    
    &:hover {
      cursor: grab;
      
      &:active {
        cursor: grabbing;
      }
    }
  }

  &__track::-webkit-scrollbar {
    display: none; 
  }

  &__item {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    min-height: 320px;
    background-color: $text-color;
    color: #000000;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: calc(100% / 1.5);
    }

    @include media-breakpoint-up(lg) {
      width: calc(100% / 2);
    }

    @include media-breakpoint-up(xl) {
      width: calc(100% / 2.5);
    }

    @include media-breakpoint-up(xxl) {
      width: $item-width;
    }

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &-image-wrapper {
      position: relative;
      width: 100%;
      height: 260px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 2;
      }
    }

    &:hover &-image-wrapper::after {
      opacity: 1;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      display: block;
    }

    &-content {
      padding: 1rem;
      transition: transform 0.3s ease;
    }

    &:hover &-image {
      transform: scale(1.02);
    }

    &:hover &-title {
      color: rgb(100, 87, 87);
    }

    &-label {
      display: inline-block;
      background-color: $highlight-color;
      color: #303030;
      font-size: 0.7rem;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.25rem;
      position: absolute;
      bottom: -4px;
      left: 18px;
      z-index: 1;

      @include media-breakpoint-up(sm) {
        font-size: 0.65rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 0.7rem;
      }
    }

    &-timestamp {
      display: block;
      font-size: 0.875rem;
      color: #555;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 0.8rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 0.875rem;
      }
    }

    &-title {
      font-size: 1.18rem;
      font-weight: bold;
      margin: 0;

      @include media-breakpoint-up(sm) {
        font-size: 1.14rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.16rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.18rem;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $text-color;
    color: #000000;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.25rem 0.85rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    
    &:hover {
      background: darken($text-color, 30%);
      opacity: 1 !important;
      visibility: visible !important;
    }

    &:focus {
      outline: 2px solid $highlight-color;
    }

    &--left {
      left: 0.5rem;
    }

    &--right {
      right: 0.5rem;
    }
  }

  &__container.carousel--no-scroll .carousel__arrow {
    display: none !important;
  }
}

@include media-breakpoint-down(sm) {
  .carousel__arrow {
    display: none !important;
  }
}